@page "/"

<PageTitle>Index</PageTitle>
<div class="container">
    <h1>Hello, world!</h1>
    I made this project to to learn about ML.Net, Blazor and Stable Diffusion. <br>
    The Stable Diffusion I read from <a href="https://onnxruntime.ai/docs/tutorials/csharp/stable-diffusion-csharp.html">Inference Stable Diffusion with C# and ONNX Runtime</a>. <br>
    And I used the code from <a href="https://github.com/cassiebreviu/StableDiffusion">this gitub repo</a>. <br>
</div>